.SR-overlay {
    text-align: center;
}
.SR-header-overlay {
    margin-top: 17.5vw;
}
.SR-header-text {
    margin-bottom: 2.5vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    border-bottom: 2px solid #0c4d75;
    color: #0c4d75;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 8vw;
}
.SR-middle {
    display: inline;
}
.SR-choice {
    width: 45%;
    line-height: 8vw;
    margin: .5vw;
    display: inline-grid;
    border: 1px solid rgb(212, 212, 212);
    background-color: #1693e0;
    color: rgb(255, 255, 255);
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}
.chosen-Tag {
    width: 45%;
    line-height: 8vw;
    margin: .5vw;
    display: inline-grid;
    border: 1px solid rgb(255, 252, 252);
    background-color: rgb(110, 255, 155);
    color: rgb(255, 255, 255);
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}

/*.SR-overlay {
}
.SR-header-overlay {
}
.SR-header-text {
}
.SR-middle {
}
.SR-choice {
}*/
